@use "reset";
@use "markdown";
@use "dark-theme";

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&family=Spartan:wght@200;400;600&display=swap");
@import url("http://fonts.cdnfonts.com/css/mrrobot");

:root {
  /* light mode*/
  --l-bg: #fbf1c7;
  --l-bg-1: #ebdbb2;
  --l-fg: #3c3836;
  --l-fg-0: #282828;
  --l-gray-l: #7c6f64;
  --l-aqua-l: #689d6a;
  --l-aqua-d: #427b58;
  --l-blue-l: #458588;
  --l-blue-d: #076678;
  --l-green-l: #98971a;
  --l-green-d: #79740e;
  --l-yellow-l: #d79921;
  --l-yellow-d: #b57614;
  --l-red-l: #cc241d;
  --l-red-d: #9d0006;
  --l-orange-l: #d65d0e;
  --l-orange-d: #af3a08;
  /* dark mode */
  --d-bg: #282828;
  --d-fg: #ebdbb2;
  --red-dark: #cc241d;
  --red-light: #fb4939;
  --green-dark: #98971a;
  --green-light: #b8bb26;
  --yellow-dark: #d79921;
  --yellow-light: #fabd2f;
  --blue-dark: #458588;
  --blue-light: #83a598;
  --purple-dark: #b16286;
  --purple-light: #d3869b;
  --aqua-dark: #689d6a;
  --aqua-light: #8ec07c;
  --orange-dark: #d65d0e;
  --orange-light: #fe8019;
  --gray-dark: #928374;
  --gray-light: #a89984;
  --blue-arch: #1793d1;
  --green-spotify: #1db954;
  --hover-color: #3c3a36;

  --newtab-textbox-background-color: var(--l-bg);

  /* 
  DARK MODE 
  */

  // COLORS
  --body-background: var(--l-bg);
  --body-foreground: var(--l-fg);
  --h1-color: var(--l-red-l);
  --nav-border-color: var(--blue-light);
  --search-content-border: var(--blue-light);
  --nav-items-color: var(--l-fg);
  --article-border-color: var(--orange-light);
  --card-link-background: var(--orange-light);
  --card-link-color: var(--shade);
  --search-input-background: var(--l-bg);
  --search-input-color: var(--l-bg);
  --search-input-border-color: var(--orange-dark);
  --search-btn-border-color: var(--blue-light);
  --search-btn-background: var(--blue-light);
  --search-btn-color: var(--l-fg);

  // ARTICLE
  --post-info-color: var(--l-blue-d);

  --footer-background: var(--blue-light);
  --footer-border-top-color: var(--l-red-l);
  //   Police
  --h1-size: 3.2rem;
  --h2-size: 1.8rem;
  --h3-size: 3rem;
  --p-size: 1rem;
  --nav-item-size: 1rem;
  --card-title-size: 1.6rem;
  --card-link-size: 1rem;
  --body-font-family: "JetBrains Mono", monospace;
}

// FIRST MOBILE

body {
  font-family: var(--body-font-family);
  background-color: var(--body-background);
  color: var(--body-foreground);
}

header {
  margin: 0 auto;
  max-width: 80%;
  nav {
    padding: 2rem 0;
    h1 {
      padding: 2rem 0;
      text-align: center;
      a {
        font-family: "MrRobot", "JetBrains Mono", monospace;
        font-size: var(--h1-size);
        color: var(--h1-color);
      }
    }
    p {
      font-size: 1.2rem;
      padding-bottom: 2rem;
      line-height: 1.8rem;
    }
    ul {
      display: flex;
      li {
        a {
          padding: 0 1rem 0 0;
          font-size: var(--nav-item-size);
          color: var(--l-fg);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .search-content {
    border-top: 0.2rem solid var(--search-content-border);
    border-bottom: 0.2rem solid var(--search-content-border);
    form {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0;
        input {
          padding: 0.4rem;
          background-color: var(--search-input-background);
          border: 0.1rem solid var(--search-input-border-color);
        }
        input[type="submit"] {
          font-weight: 600;
          margin: 0 1rem;
          background-color: var(--search-btn-background);
          color: var(--search-btn-color);
          border: 0.1rem solid var(--search-btn-border-color);
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          transition: 0.2s;
          &:hover {
            box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
              rgba(0, 0, 0, 0.24) 0px 1px 2px;
          }
          &:active {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
              rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          }
        }
      }
    }
  }
}

main {
  padding: 2rem 0 0;
  margin: 0 auto;
  width: 80%;
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
}

// ERROR 404
.error-404 {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    font-family: "MrRobot", "JetBrains Mono", monospace;
    font-size: 8rem;
    text-align: center;
    color: var(--l-red-l);
  }
  p {
    padding: 1rem 0;
    font-size: 1.8rem;
    text-align: center;
    line-height: 2rem;
  }
  img {
    padding: 2rem 0;
    max-width: 20rem;
  }
  a {
    font-size: 1.2rem;
  }
}

// POSTLIST
.posts-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.posts-list-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  img {
    border-radius: 0.2rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  }
  .post-title {
    font-size: var(--card-title-size);
    padding: 1rem 0;
  }

  p {
    font-size: var(--p-size);
    line-height: 1.4rem;
  }
}
.post-info {
  padding: 0.4rem 0;
  color: var(--post-info-color);
  a {
    color: var(--post-info-color);
  }
}

.post-link {
  max-width: 3.2rem;
  padding: 0.4rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 0.2rem;
  color: var(--card-link-color);
  background-color: var(--card-link-background);
  font-size: var(--card-link-size);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  &:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}

// PAGINATION

.pagination {
  font-size: 1rem;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;
  ul {
    padding: 2rem 0;
    border-top: 0.32rem solid var(--footer-border-top-color);
    li {
      a {
        font-size: 1rem;
        line-height: 1.4rem;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.copyright {
  padding: 2rem 0 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}
