@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;600&family=Spartan:wght@200;400;600&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-size: 62.5%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr {
  text-decoration: none;
}

a {
  color: #222;
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
}

article {
  /* https://github.com/mrmrs/fluidity */
}
article div {
  font-size: 1rem;
  color: var(--l-blue-l);
}
article div p {
  margin: 0.2rem 0;
  color: var(--l-orange-l);
}
article div a {
  color: var(--l-blue-l);
}
article pre,
article code {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
article pre {
  padding: 0.5rem;
  line-height: 1.25;
  overflow-x: scroll;
}
@media print {
  article *,
article *:before,
article *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  article a,
article a:visited {
    text-decoration: underline;
  }
  article a[href]:after {
    content: " (" attr(href) ")";
  }
  article abbr[title]:after {
    content: " (" attr(title) ")";
  }
  article a[href^="#"]:after,
article a[href^="javascript:"]:after {
    content: "";
  }
  article pre,
article blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  article thead {
    display: table-header-group;
  }
  article tr,
article img {
    page-break-inside: avoid;
  }
  article img {
    max-width: 100% !important;
  }
  article p,
article h2,
article h3 {
    orphans: 3;
    widows: 3;
  }
  article h2,
article h3 {
    page-break-after: avoid;
  }
}
@media screen and (min-width: 32rem) and (max-width: 48rem) {
  article html {
    font-size: 15px;
  }
}
@media screen and (min-width: 48rem) {
  article html {
    font-size: 16px;
  }
}
article p {
  font-size: 1.2rem;
  margin-bottom: 1.3rem;
  line-height: 1.6rem;
}
article h1,
article h2,
article h3,
article h4 {
  margin: 1.414rem 0 0.5rem;
}
article h1 {
  margin-top: 0;
  font-size: 3.998rem;
}
article h2 {
  font-size: 1.8rem;
}
article header {
  margin: 0;
}
article header h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
article h3 {
  font-size: 1.6rem;
}
article h4 {
  font-size: 1.414rem;
}
article h5 {
  font-size: 1.121rem;
}
article h6 {
  font-size: 0.88rem;
}
article small {
  font-size: 0.707em;
}
article img,
article canvas,
article iframe,
article video,
article svg,
article select,
article textarea {
  max-width: 100%;
}
article pre {
  background-color: #333;
}
article blockquote {
  border-left: 3px solid var(--l-orange-l);
  padding-left: 1rem;
}
article li {
  list-style: circle;
  font-size: var(--p-size);
  line-height: 2rem;
}
article table thead th {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  background-color: var(--l-blue-d);
  color: var(--l-bg);
  border: 0.1rem solid var(--l-orange-l);
  text-transform: uppercase;
}
article table td {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border: 0.1rem solid var(--l-orange-l);
}
article table tr:nth-child(2n+1) {
  background-color: var(--l-bg-1);
}

:root {
  /* dark mode */
  --d-bg: #282828;
  --d-fg: #ebdbb2;
  --d-red-d: #cc241d;
  --d-red-l: #fb4939;
  --d-green-d: #98971a;
  --d-green-l: #b8bb26;
  --d-yellow-d: #d79921;
  --d-yellow-l: #fabd2f;
  --d-blue-d: #458588;
  --d-blue-l: #83a598;
  --d-purple-d: #b16286;
  --d-purple-l: #d3869b;
  --d-aqua-d: #689d6a;
  --d-aqua-l: #8ec07c;
  --d-orange-d: #d65d0e;
  --d-orange-l: #fe8019;
  --d-gray-d: #928374;
  --d-gray-l: #a89984;
}

body.dark-theme {
  background-color: var(--d-bg);
}
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4,
body.dark-theme h5,
body.dark-theme p,
body.dark-theme li,
body.dark-theme li > a {
  color: var(--d-fg);
  transition: 1s;
}
body.dark-theme .search-content {
  border-color: var(--d-green-l);
}
body.dark-theme .search-content input {
  border-color: var(--d-blue-l);
  background-color: var(--d-bg);
  color: var(--d-fg);
}
body.dark-theme .search-content input[type=submit] {
  background-color: var(--d-blue-d);
  border-color: var(--d-blue-d);
  color: var(--d-bg);
}
body.dark-theme .post-info p {
  color: var(--d-purple-d);
}
body.dark-theme .post-info a {
  color: var(--d-blue-d);
}
body.dark-theme .post-link {
  background-color: var(--d-red-d);
  color: var(--d-fg);
}
body.dark-theme article div {
  color: var(--d-blue-d);
}
body.dark-theme article div p {
  color: var(--d-purple-d);
}
body.dark-theme article div a {
  color: var(--d-blue-d);
}
body.dark-theme footer ul {
  border-top: 0.32rem solid var(--d-green-l);
}

:root {
  /** sunny side **/
  --blue-background: none;
  --blue-border: var(--l-blue-l);
  --blue-color: var(--l-blue-d);
  --yellow-background: var(--d-yellow-l);
  --yellow-border: var(--d-yellow-d);
  /** dark side **/
  --indigo-background: none;
  --indigo-border: var(--d-purple-l);
  --indigo-color: var(--d-purple-d);
  --gray-border: var(--d-gray-l);
  --gray-dots: var(--d-gray-l);
  /** general **/
  --white: #fafafa;
}

.btn-toggle-container {
  position: fixed;
  right: -3rem;
  top: 1.2rem;
  transform: scale(0.28);
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked {
  /** This will all flip from sun to moon **/
  /** Change the label color **/
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}

.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
  /** Change the cloud to stars **/
  /** Change the sun into the moon **/
  /** Show the dimples on the moon **/
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 60px;
  width: 5px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 5px;
  height: 5px;
  top: -25px;
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 5px;
  height: 5px;
  left: -30px;
  top: 20px;
}

.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}

.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}

.toggle--label {
  /** Placeholder element, starting at blue **/
  width: 200px;
  height: 100px;
  background: var(--blue-color);
  border-radius: 100px;
  border: 5px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
  /** The sun cloud and moon stars **/
  /** Sun/Moon element **/
  /** Gray dots on the moon **/
}

.toggle--label-background {
  width: 10px;
  height: 5px;
  border-radius: 5px;
  position: relative;
  background: var(--white);
  left: 135px;
  top: 45px;
  transition: all 150ms ease-in;
}

.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -20px;
  transition: all 150ms ease-in;
}

.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: var(--white);
  left: -10px;
  transition: all 150ms ease-in;
}

.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 82px;
  height: 82px;
  border: 5px solid var(--yellow-border);
  top: 4px;
  left: 4px;
  position: absolute;
  border-radius: 82px;
  background: var(--yellow-background);
}

.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -13px 0 0 2px, var(--gray-dots) -24px 14px 0 -2px;
  left: 143px;
  top: 23px;
  width: 10px;
  height: 10px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 4px;
  }
  60% {
    left: 4px;
    width: 112px;
  }
  100% {
    left: 104px;
    width: 82px;
  }
}
@keyframes reverse {
  0% {
    left: 104px;
    width: 82px;
  }
  60% {
    left: 72px;
    width: 112px;
  }
  100% {
    left: 4px;
  }
}
@font-face {
  font-family: "MrRobot";
  font-style: normal;
  font-weight: 400;
  src: local("MrRobot"), url("https://fonts.cdnfonts.com/s/13766/MR ROBOT.woff") format("woff");
}
:root {
  /* light mode */
  --l-bg: #fbf1c7;
  --l-bg-1: #ebdbb2;
  --l-fg: #3c3836;
  --l-fg-0: #282828;
  --l-gray-l: #7c6f64;
  --l-aqua-l: #689d6a;
  --l-aqua-d: #427b58;
  --l-blue-l: #458588;
  --l-blue-d: #076678;
  --l-green-l: #98971a;
  --l-green-d: #79740e;
  --l-yellow-l: #d79921;
  --l-yellow-d: #b57614;
  --l-red-l: #cc241d;
  --l-red-d: #9d0006;
  --l-orange-l: #d65d0e;
  --l-orange-d: #af3a08;
  --newtab-textbox-background-color: var(--l-bg);
  /* 
  COLORS
  */
  --body-background: var(--l-bg);
  --body-foreground: var(--l-fg);
  --h1-color: var(--l-red-l);
  --nav-border-color: var(--l-blue-l);
  --search-content-border: var(--l-blue-l);
  --nav-items-color: var(--l-fg);
  --search-input-background: var(--l-bg);
  --search-input-color: var(--l-bg);
  --search-input-border-color: var(--l-orange-l);
  --search-btn-border-color: var(--l-blue-l);
  --search-btn-background: var(--l-blue-l);
  --search-btn-color: var(--l-fg);
  --post-info-color: var(--l-blue-d);
  --article-border-color: var(--l-orange-l);
  --card-link-background: var(--l-orange-l);
  --card-link-color: var(--l-bg);
  --footer-background: var(--blue-light);
  --footer-border-top-color: var(--l-blue-l);
  /* 
  FONTS
  */
  --h1-size: 3.2rem;
  --h2-size: 1.8rem;
  --h3-size: 3rem;
  --p-size: 1rem;
  --nav-item-size: 1rem;
  --card-title-size: 1.6rem;
  --card-link-size: 1rem;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--body-background);
  color: var(--body-foreground);
  transition: 1s;
}

.btn-toggle {
  position: absolute;
  right: 0;
  margin: 1rem 2rem;
}

body > header {
  margin: 0 auto;
  max-width: 80%;
}
body > header nav {
  padding: 2rem 0;
}
body > header nav h1 {
  padding: 2rem 0;
  text-align: center;
}
body > header nav h1 a {
  font-family: "MrRobot", "JetBrains Mono", monospace;
  font-size: var(--h1-size);
  color: var(--h1-color);
}
body > header nav p {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  line-height: 1.8rem;
}
body > header nav ul {
  display: flex;
}
body > header nav ul li a {
  padding: 0 1rem 0 0;
  font-size: var(--nav-item-size);
  color: var(--l-fg);
}
body > header nav ul li a:hover {
  text-decoration: underline;
}
body > header .search-content {
  border-top: 0.2rem solid var(--search-content-border);
  border-bottom: 0.2rem solid var(--search-content-border);
}
body > header .search-content form div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
body > header .search-content form div input {
  padding: 0.4rem;
  background-color: var(--search-input-background);
  border: 0.1rem solid var(--search-input-border-color);
  transition: 1s;
}
body > header .search-content form div input[type=submit] {
  font-weight: 600;
  margin: 0 1rem;
  background-color: var(--search-btn-background);
  color: var(--search-btn-color);
  border: 0.1rem solid var(--search-btn-border-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}
body > header .search-content form div input[type=submit]:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
body > header .search-content form div input[type=submit]:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

main {
  padding: 2rem 0 0;
  margin: 0 auto;
  width: 80%;
}
main h1 {
  font-size: 2rem;
  font-weight: 600;
}

.error-404 {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-404 h1 {
  font-family: "MrRobot", "JetBrains Mono", monospace;
  font-size: 8rem;
  text-align: center;
  color: var(--l-red-l);
}
.error-404 p {
  padding: 1rem 0;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2rem;
}
.error-404 img {
  padding: 2rem 0;
  max-width: 20rem;
}
.error-404 a {
  font-size: 1.2rem;
}

.posts-list {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.posts-list-item {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}
.posts-list-item img {
  border-radius: 0.2rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.posts-list-item .post-title {
  font-size: var(--card-title-size);
  padding: 1rem 0;
}
.posts-list-item p {
  font-size: var(--p-size);
  line-height: 1.4rem;
}

.post-info {
  padding: 0.4rem 0;
  color: var(--post-info-color);
}
.post-info a {
  color: var(--post-info-color);
}

.post-link {
  max-width: 3.2rem;
  padding: 0.4rem;
  margin: 1rem 0;
  text-align: center;
  border-radius: 0.2rem;
  color: var(--card-link-color);
  background-color: var(--card-link-background);
  font-size: var(--card-link-size);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: 0.2s;
}
.post-link:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.post-link:active {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.pagination {
  font-size: 1rem;
}
.pagination a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  max-width: 80%;
  margin: 0 auto;
}
footer ul {
  padding: 2rem 0;
  border-top: 0.32rem solid var(--footer-border-top-color);
}
footer ul li a {
  font-size: 1rem;
  line-height: 1.4rem;
}
footer ul li a:hover {
  text-decoration: underline;
}

.copyright {
  padding: 2rem 0 0;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
}

@media screen and (min-width: 600px) {
  body > header,
main,
footer {
    max-width: 60%;
  }
}

/*# sourceMappingURL=style.css.map */
